.baris-1 .card{
    margin-top: 20px;
    margin-left: 20px;
    top:20px;
}
.card-body{
    height: 150px;
}
.card-title{
    margin-bottom: 0;
}
.display-4{
    font-weight: 550;
}
.bg-info{
    margin-left: 20px;
}
.row {
    margin-top: 25px;
}
.card-body-icon{
    position: absolute;
    z-index: 0;
    top:25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}
