h2 {
    border-color: #000;
    border-style: solid;
    border-bottom-width: 3px;
}
.row{
    display: flex;
}
#search{
    position: static;
}
.dataTables_length{
      display: none;
}
.dataTables_info{
    display: none;
}
#search_filter{
    margin-top: -129px;
    margin-right: 90px;
    float: right;
    right: 50px;
}
.form-control{
    height: 35px;
    width: 180px;

}
